body{
color: black;
margin: 0;
padding: 0;
font-family: "リュウミン R-KL", "Ryumin Regular KL", "游明朝", "YuMincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
}

#containment-area{
    height:1000px;
    margin:0;
    background-color: white;
}

#content-area{
    height:100%;
    margin:100px;
    margin-top:0;
    background-color: white;
}

#main-area{
    min-height:100%;
    color:white;
}

.h1{
    margin:10px;
    color:black;
    font-family: "リュウミン R-KL", "Ryumin Regular KL", "游明朝", "YuMincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
}

.top{
    background-color: rgb(153, 153, 153);
    padding:5px;
    padding-bottom: 0.03px;
}

